body {
	background: #F5F5F5;
}
.main {
	display: flex;
	justify-content: space-between;
	margin: 50px;
}

.dataset {
	margin-bottom: 50px;
	display: flex;
	justify-content: space-around;
}

.btn {
	width: 100px;
	height: 25px;
	border: 1px solid grey;
	background: white;
	cursor: pointer;
	border-radius: 30px;
}

.addPoints:hover {
	background: #9ACD32;
	border: none;
	color: white;
}

.clearAllPoints:hover {
	background: #FF6347;
	border: none;
	color: white;
}

.deletePointBtn {
	width: 100%;
	height: 100%;
	border: none;
	background: none;
	cursor: pointer;
}

.tableContent {
	width: 500px;
	height: 30px;
	border-collapse: collapse;
	margin-bottom: 50px;
}

.table-data {
	background: white;
	border: 1px solid black;
	text-align: center;
	vertical-align: middle;
}

.table-data:last-child{
	width: 70px;
}

.chart {
	width: 500px;
	height: 500px;
	background: white;
	border: 1px solid red;
	position: relative;
}

.point {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: black;
	position: absolute;
}